@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Lexend+Zetta:wght@400;700&family=Bodoni+Moda:wght@400;700&display=swap');

html {
    background-color: #f0f4f9;
    color: #181818;
    font-family: 'Lexend', Arial, sans-serif;
}
  
@media (prefers-color-scheme: dark) {
    html {
      background-color: #1f1f1f;
      color: #f5f5f5;
    }
}
  
.center {
    text-align: center;
}
  
h1, h2, h3 {
    font-size: 300%;
    font-family: 'Lexend Zetta', Arial, sans-serif;
}

h4 {
    font-size: 125%;
    font-family: monospace;
}

#typewriter {
  font-family: 'Lexend', monospace;
  font-size: 120%;
  display: inline-block;
  border-right: 2px solid #1f1f1f;
  white-space: pre;
  overflow: hidden;
  animation: blink-cursor 0.8s steps(1) infinite;
}

@keyframes blink-cursor {
  0%, 100% { border-color: #1f1f1f; }
  50% { border-color: transparent; }
}

@media (prefers-color-scheme: dark) {
  #typewriter {
    border-right: 2px solid #f5f5f5;
    animation: blink-cursor-dark 0.8s steps(1) infinite;
  }
}

@keyframes blink-cursor-dark {
  0%, 100% { border-color: #f5f5f5; }
  50% { border-color: transparent; }
}